$ff: 'DM Sans', sans-serif;

$footer: rgba(255, 255, 255, 0.8);
$bg: #111827;
$grey: #F9FAFB;
$lightgrey: #E5E7EB;
$white: #FFFFFF;
$black: #000;

$grad-btn: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
$grad-text: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);

$paragraph: #262626;
$terciary: #F9F1FE;
$text: #575757;
$primary: #8842F0;
$grey: #D9D9D9;
$darkgrey: #6C6C6C;
$darkpurple: #1C1B1F;

$transition: .2s all ease-in-out;

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
$mobile-mini: 400px;

$container: 1210px;
