.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;

  @include tablet{
    padding: 40px 20px;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    @include text($ff, 500, 2rem, 2.4rem, $white);
  }
}

.nav {
  &__ul {
    z-index: 99;
    display: flex;
    align-items: center;
    gap: 60px;

    @include tablet {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background: $darkpurple;
      left: 0;
      top: 0;
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: $transition;
      transform: translateX(-120%);
      &._active {
        transform: translateX(0);
      }
      .nav__a {
        font-size: 2.1rem;
        line-height: 2.9rem;
        color: $white;
      }
      .icon-close {
        position: absolute;
        top: 40px;
        right: 40px;
      }
    }
  }

  .icon-menu,
  .icon-close {
    display: none;
	color: $white;

    @include tablet {
      display: inline-block;
    }
  }

  &__a {
    @include text($ff, 500, 1.4rem, 1.8rem, $grey);
    transition: $transition;

    &:hover{
      color: rgb(75, 75, 206);
    }
  }
}
