.subscribe-section {
  margin-bottom: 100px;
  text-align: center;
  padding: 50px 155px 38px;
  background: linear-gradient(
    180deg,
    rgba(254, 254, 255, 0.0145) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
  box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;

  @include tablet{
    padding: 50px 50px;
  }

  @include mobile{
    padding: 50px 10px;

    &__subscribe{
        span{
            display: none
        }
    }


    
  }

  &__title {
    @include text($ff, 700, 4.2rem, 5.5rem, $white);
    margin-bottom: 13px;
  }

  &__desc {
    @include text($ff, 400, 1.6rem, 3rem, $white);
    opacity: 0.8;
    margin-bottom: 29px;
  }

  &__subscribe {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 10px 10px 44px;
    background: #1d2432;
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
    border-radius: 70px;
  }

  .btn {
    border-radius: 70px;
    display: flex;
    align-items: center;
    padding: 15px 50px;
    @include text($ff, 500, 2rem, 3rem, $white);

    @include tablet{
        padding: 15px 20px;
      }
  }

  input {
    width: 100%;
    background: #1d2432;
    border: 0;
    outline: 0;
    @include text($ff, 400, 1.8rem, 3rem, $white);
    opacity: 0.9;
  }
}
